.ee {
  margin-top: 7rem;
}

.ee__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ee__content {
  margin-top: 5rem;
}

.ee__experience,
.ee__education {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.df {
  display: flex;
  align-items: flex-start;
  width: 80%;
  max-width: 600px;
  margin: 1rem 0;
  position: relative;
}

.ee__left {
  justify-content: flex-end;
  text-align: right;
  margin: 2rem 0rem;
}

.ee__right {
  justify-content: flex-start;
  text-align: left;
  margin: 2rem 0rem;
}

.ee__icon {
  font-size: 2rem;
  color: #007bff;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  z-index: -1;
}

.ee__line {
  width: 2px;
  background: repeating-linear-gradient(
    to bottom,
    #007bff,
    #007bff 8px,
    transparent 8px,
    transparent 16px
  );
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.ee__details {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px #007bff;
  width: 45%;
  z-index: -1;
}

.ee__details__left {
  text-align: left;
}

.ee__details__right {
  text-align: right;
}

.ee__dot {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #007bff;
  z-index: -1;
}

@media screen and (max-width: 481px) {
  .ee__button > button {
    font-size: 1.2rem;
  }

  .df {
    flex-direction: column;
    align-items: center;
  }

  .ee__left,
  .ee__right {
    width: 100%;
    text-align: center;
  }

  .ee__line {
    display: none;
  }

  .ee__details__left {
    text-align: center;
  }

  .ee__details__right {
    text-align: center;
  }

  .ee__button {
    justify-content: space-between;
  }
  .ee__details {
    width: 60%;
  }
}
